body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;

  }

  .center {
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

#para {
    font-family: verdana;
    font-size: 20px;
}

.fonte-verde {
  color: green;
}

